# SmartLib Environmental Configuration Example
# Copy this file to a new file named .env and fill in your private details

PORT=3000

# SQLite File name (optional)
DATABASE_FILE=library.db

# SMTP Configuration Details
SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_USER=your_email@ogr.klu.edu.tr
SMTP_PASS=your_secret_password

# Default System Admin settings
ADMIN_EMAIL=dakormedi79@gmail.com

# Application URL (Use your VPS IP or Domain name here so verification emails link correctly)
APP_URL=http://localhost:3000
